Cheetah==2.4.4
Django==1.8.2
Landscape-Client==14.12
PAM==0.4.2
Pillow==4.0.0
PyYAML==3.10
South==0.7.5
Twisted-Core==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
bzr==2.7.0dev1
chardet==2.0.1
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
django-ckeditor==5.9.0
django-ipware==2.1.0
django-js-asset==1.2.2
gevent==1.0
greenlet==0.4.2
gunicorn==17.5
gyp==0.1
html5lib==0.999
jet-django==0.7.4
jsonpatch==1.3
jsonpointer==1.0
mysqlclient==1.3.9
oauth==1.0.1
olefile==0.44
prettytable==0.7.2
psycopg2==2.4.5
pyOpenSSL==0.13
pyserial==2.6
python-apt==0.9.3.5ubuntu3
python-debian==0.1.21-nmu2ubuntu2
requests==2.2.1
six==1.5.2
speedtest-cli==1.0.7
ssh-import-id==3.21
trimage==1.0.2
urllib3==1.7.1
virtualenv==1.11.4
wheel==0.24.0
whitenoise==5.0.1
wsgiref==0.1.2
youtube-dl==2018.04.03
zope.interface==4.0.5
