{% include 'app/_header.html'%}
{% include 'app/_hoverheader.html'%}

<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
</style>

<div id="appRnav" class="appRnav">
  <div class="containerList">

    <div class="heads">
      
    </div>
    <div class="info-item">
      <p><a href="{% url 'app.upfoto' projects.slug%}">Editar Foto</a><span>
      <img src="/media/{{projects.foto}}" alt="" width="200px;">
      <p><span>{{projects.experiencia}} </span><a href="{% url 'app.upexperiencia' projects.slug%}">Editar</a></p>
      <p><span>Descripción: </span>{{projects.descripcion}}<a href="{% url 'app.updescripcion' projects.slug%}">Editar</a></p>
      <p><span>Período: </span>{{projects.periodos}} <a href="{% url 'app.upperiodos' projects.slug%}">Editar</a></p>
      <p><span>Inicio: </span>{{projects.inicio}}  <a href="{% url 'app.upinicio' projects.slug%}">Editar</a></p>
      <p><span>Duración: </span>{{projects.duracion}} <a href="{% url 'app.upduracion' projects.slug%}">Editar</a></p>
      <p><span>Herramientas: </span>{{projects.herramientas|safe}} <a href="{% url 'app.upherramientas' projects.slug%}">Editar</a></p>
      <p><span>Unidades: </span>{{projects.unidades}}<a href="{% url 'app.upunidades' projects.slug%}">Editar</a></p>
      <p><span>Departamentos: </span>{{projects.departametos}}<a href="{% url 'app.updepartametos' projects.slug%}">Editar</a></p>
      <p><span>Ciudades: </span>{{projects.ciudades}} <a href="{% url 'app.upciudades' projects.slug%}">Editar</a></p>
      <p><span>Consultores: </span>{{projects.consultores}} <a href="{% url 'app.upconsultores' projects.slug%}">Editar</a></p>
      <p><span>Asesorados: </span>{{projects.asesorados}} <a href="{% url 'app.upasesorados' projects.slug%}">Editar</a></p>
      <p><span>Aliados: </span><a href="{% url 'app.upaliados' projects.slug%}">Editar</a></p>
      <img src="/static/{{projects.aliados}}" alt="" width="150px;">
      <p><span>Contratantes: </span><a href="{% url 'app.upcontratantes' projects.slug%}">Editar</a></p>
      <img src="/static/{{projects.contratantes}}" alt="" width="150px;">
<br><br><br>
    </div>


    <style type="text/css">
      .info-item{background:#fff;width:1000px;border-radius:4px;padding:10px;margin:10px;}
      .info-item a{transition: 1s;color:#fff!important;background: #009ee2;padding: 5px 10px;border-radius: 8px;font-weight: bold;margin: 5px;}
      .info-item a:hover{color:#eec341ff!important;background: #000;padding: 5px 10px;font-weight: bold;}
      .info-item img{border: 1px solid #eec341ff;}
      .info-item span{font-weight:bold;}
      .info-item p{padding: 5px;
      }
      #appRnav > div > div.info-item > p:nth-child(1){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
    </style>

    </div>
</div>
{% include 'app/admin/menuadmin.html'%}

<style type="text/css">
*{margin: 0;padding: 0;text-decoration: none;list-style: none;font-family: 'Roboto', sans-serif;-webkit-transition: All 0.2s ease;-moz-transition: All 0.2s ease;-o-transition: All 0.2s ease;-ms-transition: All 0.2s ease;transition: All 0.2s ease;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
	#appRnav{margin:0 auto;margin-top:36px;padding-top:74px;padding-bottom:168px;width: 100%;height: 100%;right: 0;top: 0;justify-content: center;align-items: center;}
  #appRnav ul{display:block;background:rgba(255,255,255,0.2);padding:20px;border-left:3px solid #eec341ff;}
  #appRnav ul:hover{background:rgba(255,255,255,0.1);}
  .containerList{overflow:auto;width:100%;height:100%;}
  .heads p{font-family:'Oswald';font-size:30px;padding:20px;color:#eec341ff;}
  .foot a{padding:10px 10px;font-family: 'Oswald', sans-serif;}
  .menu-01{padding-left:30px!important;background:url(/static/assets/add.png)no-repeat center left 5px;background-size:20px;}
  .menu-00{padding-left:30px!important;background:url(/static/assets/favicons.png)no-repeat center left 5px;background-size:20px;}
  .menu-02{padding-left:30px!important;background:url(/static/assets/users.png)no-repeat center left 5px;background-size:20px;}
  .menu-03{padding-left:30px!important;background:url(/static/assets/logout.png)no-repeat center left 5px;background-size:20px;}
  .edit a{padding:10px; border-radius:20px; border: 2px solid #eec341ff;}
  .edit{padding:10px;background:rgba(0,0,0,0.5);margin-top:5px;border-radius:5px;}
  .foot{width:100%;padding:20px;background:#009ee2;position:fixed;bottom:0;right:0px;padding-left:30px;}
  .toptip{background:#fff;position:fixed;top:0;left:0;height:34px;width:100%;padding-top: 6px;padding-left: 30px;color: #009ee2;}
  .logoFygp {position: fixed;z-index: 15;margin-left: 0px!important;margin-top: 0px!important;background: rgba(0,0,0,0.5);padding: 10px;width: 100%;top: 34px!important;right:0px;padding-left:30px;}
  .pam{color:#eec341ff;font-size:11px;}
</style>

{% include 'app/admin/cssrules.html'%}

{% include 'app/_footer.html'%}
