<section class="animatedBackground">
      <div id="wrapperx">
            <div id="animated_div">
                  <div class="background-animation">
                        <div class="slides">
              <div class="slide">
                <object
      type="image/svg+xml"
      data="/static/img/Animados/bogota.svg"
                ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/chicago.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/hong_kong.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/Japon.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/lima.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/londres.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/new_york.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/rio_janeiro.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/roma.svg"
    ></object>
  </div>
  <div class="slide">
    <object
      type="image/svg+xml"
      data="/static/img/Animados/toronto_.svg"
    ></object>
  </div>
            </div>
                  </div>
