<!-- modal ------------------------------------------------------------------------------>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" id="game-modal">
        <span class="close">&times;</span>
  </div>

</div>
<!-- modal ------------------------------------>

<!-- flechas de abajo------------------------------------------------------------------------------>
<div class="container outside-arrows-container left">
      <a href="#" id="prev" class="outside-arrows"></a>
</div>
<div class="container outside-arrows-container right">
      <a href="#" id="next" class="outside-arrows"></a>
</div>
<!-- flechas de abajo ------------------------------------>	

<section class="logoFygp">
  <a href="https://fygproyectos.com" target="_blank">
      <img src="/static/img/FyGP_Formulacion_y_gestion_de_proyectos.png" width="" height="" />
  </a>
</section>
